<div class="ctn-zapatos">
    <h1 class="title">Zapatillas disponibles</h1>
    <table class="ctn-table">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Tiendas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let zapatilla of zapatillas">
                <th>{{zapatilla.marca}}</th>
                <th>{{zapatilla.nombre}}</th>
                <th>{{zapatilla.precio}} $</th>
                <th><li *ngFor="let tienda of zapatilla.tiendas">{{tienda}}</li></th>
            </tr>
        </tbody>
    </table>
</div>
<div class="ctn-tops">
    <h1 class="title">Nuestras marcas</h1>
    <ul>
        <li *ngFor="let marca of marcas">
            {{marca}}
        </li>
        <li>
            Añade tu marca <input type="text" [(ngModel)]="inputMarcas" /> <br/> <input type="button" (click)="upgradeMarcas()" value="Agregar"/>
            <br/>
            <span class="alertInput">{{mensajeAlertMarcas}}</span>
        </li>
    </ul>
    <h1 class="title">Nuestras tiendas</h1>
    <ul>
        <li *ngFor="let tienda of tiendas">
            {{tienda}}
        </li>
        <li>
            Añade tu tienda <input type="text" [(ngModel)]="inputTiendas" /> <br/> <input type="button" (click)="upgradeTiendas()" value="Agregar"/>
            <br/>
            <span class="alertInput">{{mensajeAlertTiendas}}</span>
        </li>
    </ul>
</div>